    /*
    Flaticon icon font: Flaticon
    Creation date: 24/03/2016 15:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-connection:before { content: "\f100"; }
.flaticon-facebook55:before { content: "\f101"; }
.flaticon-google116:before { content: "\f102"; }
.flaticon-instagram12:before { content: "\f103"; }
.flaticon-twitter1:before { content: "\f104"; }
    
    $font-Flaticon-connection: "\f100";
    $font-Flaticon-facebook55: "\f101";
    $font-Flaticon-google116: "\f102";
    $font-Flaticon-instagram12: "\f103";
    $font-Flaticon-twitter1: "\f104";