@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("fonts/Flaticon.woff") format("woff"),
       url("fonts/Flaticon.ttf") format("truetype"),
       url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}.flaticon-facebook43:before {
	content: "\f101"; 
}
.flaticon-google109:before {
	content: "\f102";
}
.flaticon-instagram12:before {
	content: "\f103";
}
.flaticon-twitter35:before {
	content: "\f104";
}
.flaticon-connection:before { 
	content: "\f100"; 
}

html, body{
    /* height: 100vh; */
}
body{
	margin:0;
	font-family: 'Ubuntu', sans-serif;
	/* font-size: 16px; */
	background: #0E0E0E;
	/* background: url(../img/sliders/landing.jpg) no-repeat fixed 50% 50% / cover; */
	overflow: hidden;
}
.showMobile{
	display: none;
}
.k-container{
	position: relative;
	margin: 0 auto;
	width: 960px;
}
.k-container-lg{
	position: relative;
	margin: 0 auto;
	width: 1170px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	/* visibility: hidden; */
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.5);
}
	header .nav-container{
		position: relative;
		text-align: center;
		/* padding: 20px 0px; */
	}
	header ul{
		padding: 0;
		margin:0;
	}
	header ul li{
		position: relative;
		display: inline-block;
		color: #fff;
		vertical-align: middle;
		padding: 20px 1.5em;
		text-transform: uppercase;
		font-size: 12px;
		/* font-weight: 300; */
		letter-spacing: 2px;
	}
	li{
		position: relative;
		padding: 0 2em;
	}
	header .logo img{
		position: relative;
		width: 190px;
		vertical-align: middle;
	}
	header .nav-item:after{
		content:"";
		position: absolute;
		top: 10px;
		left: 1.5em;
		height: 2px;
		background: #fff;
		width: 0;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	header .nav-active:after{
		width: 20px !important;
	}
	header .nav-item:hover:after{
		width: 20px;
	}
.main-bg{
	position: relative;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
	
}
	.main-bg .text-container{
		position: relative;
		color: #fff;
	}
	.main-bg .text-container a{
		color: #fff;
	}
	.main-bg .title{
		font-size: 60px;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		letter-spacing: 8px;
	}
	.main-bg .explore-more-btn{
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight:700;
		width: 150px;
		text-align: center;
		padding: 10px 0;
		margin: 0 auto;
		margin-top: 20px;
		z-index: 1;
		position: relative;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.main-bg .explore-more-btn:before{
	    content: "";
	    display:block;
	    position: absolute;
	    bottom: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    margin: auto;
	    height: 40%;
	    width: 90%;
	    opacity: 0;
	    background: #fff;
	    -webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    -o-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	    z-index: -1;
	}
	.main-bg .explore-more-btn:hover:before{
		height: 100%;
		/* background: #000; */
		opacity: 1;
		width: 100%;
	}
	.main-bg .explore-more-btn:hover{
		color: #000 !important;
		/*-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;*/
		z-index: 112;
		width: 130px;
	}
	.main-bg .overlay{
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
	    background-position: 50% 50%;
    	background-size: cover;
    	background-repeat: no-repeat;
		background-image: url(../img/sliders/landing.jpg);
		/*opacity: 0.4;*/
	}

.social{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	padding: 10px 0;
}
	.social a{
		
color: #fff;
	}
	.social ul{
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.social ul li{
		padding: 0 4px;
		display: inline-block;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 1px;
	}
	.social .flat{
		cursor: pointer;
	}
	.social .flat:hover{
		opacity: 0.5;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.social .flat:before{
		font-size: 13px;
		margin: 0px 0px;
	}
	.social .copyright{
		display: none;
	}


.menu-nav-btn{
	float: right;
	/* height: 31px; */
	/* width: 25px; */
	padding: 20px 20px;
	/* background: #fff; */
	/* margin-right: 20px; */
	cursor: pointer;
}
.menu-nav-btn:hover .bars.middle.main{
    width: 20px;
}
.menu-nav-btn.close{
	/*opacity: 0;
	transition: all 1s ease-in-out;
	-webkit-transform: scale(3);
	-moz-transform: scale(3);
	-mz-transform: scale(3);
	-o-transform: scale(3);
	transform: scale(3); */
	width: 38px;
}
.menu-nav-btn.close:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-mz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.menu-nav-btn-hide{
	opacity: 1 !important;
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
	-mz-transform: scale(1) !important;
	-o-transform: scale(1) !important;
	transform: scale(1) !important;
}
.bars{
	background: #FFFFFF;
	height: 2px;
	width: 25px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	z-index: 77;
	position: relative;
}
.bars.top{
	/* margin-top: 8px; */
	-webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	-moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	-o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
}
.bars.middle{
	margin: 0 auto;
	margin-top: 5px;
	-webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	-moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	-o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
}
.bars.bottom{
	margin-top: 5px;
	-webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	-moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	-o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
}
.top.active{
    -webkit-transform: rotatez(45deg) translate(4px,6px);
    -moz-transform: rotatez(45deg) translate(4px,6px);
    -ms-transform: rotatez(45deg) translate(4px,6px);
    -o-transform: rotatez(45deg) translate(4px,6px);
    transform: rotatez(45deg) translate(4px,6px);
}
.middle.active{
	transform: translate(-100px,0px);
	opacity: 0;
}
.bottom.active{
    -webkit-transform: rotatez(-45deg) translate(4px,-6px);
    -moz-transform: rotatez(-45deg) translate(4px,-6px);
    -ms-transform: rotatez(-45deg) translate(4px,-6px);
    -o-transform: rotatez(-45deg) translate(4px,-6px);
    transform: rotatez(-45deg) translate(4px,-6px);
}
.slide-left{
	transform: translate(0% ,0px) !important;
	-webkit-transform: translate(0% ,0px)!important;
	-moz-transform: translate(% ,0px)!important;
	-o-transform: translate(0% ,0px)!important;
	transform:translate(0%,0%)!important;
}
.body-overflow{
	overflow: hidden;
}
.photo-grid{
	padding: 0px 5px;
	/* height: 100vh; */
	position: relative;
	/* height: 500px; */
}
	.photo-grid .overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 2;
		opacity: 0.8;
	}

.photos{
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 25px;
  -moz-column-count: 4;
  -moz-column-gap: 27px;
  column-count: 4;
  column-gap: 27px;
  z-index: 1;
  position: relative;
  padding: 25px 25px;
  background: #101010;
  min-height: 1000px;
}

.photos img{/* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 25px;
}
.image-conatainer{
	position: absolute;
	/* margin-bottom: 25px; */
	padding: 0px 20px 3px 0px;
	cursor: pointer;
	/* height: 200px; */
	/* overflow: hidden; */
	width: 100%;
	height: 100%;
	/* text-align: left; */
}
	.image-conatainer .image-overlay{
		position: relative;
		top: 0;
		left: 0;
		padding: 0px 10px;
		line-height: 14px;
		width: 100%;
		color: #fff;
		height: 100%;
		background: #101010;
		opacity: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		transform: translate(0,100%);
		-webkit-transition: all .5s cubic-bezier(0.96, 0.12, 0.4, 1.02);
		-moz-transition: all .5s cubic-bezier(0.96, 0.12, 0.4, 1.02);
		-o-transition: all .5s cubic-bezier(0.96, 0.12, 0.4, 1.02);
		transition: all .5s cubic-bezier(0.96, 0.12, 0.4, 1.02);
		text-align: center;
	}
	.image-preload{
		position: absolute;
		top: 0;
		left: 0;
		padding: 0px 10px;
		width: 100%;
		/* margin-top: -25px; */
		padding-top: 100%;
		background: rgba(255, 255, 255, 0.78);
	}
	.desc-container{
		margin-top: 0px;
		/*text-align: left; */
	}
	.image-conatainer .cat{
		color: #fff;
		/* text-align: left; */
		text-transform: uppercase;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 2px;
		/* margin-bottom: 5px; */
		padding: 5px 10px;
		opacity: 0;
		line-height: normal;
		transform: translate(0,-30px);
		-webkit-transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .4s;
		-moz-transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .4s;
		-o-transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .4s;
		transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .4s;
	}
	.image-conatainer .icon{
    	margin-top: 20px;
	    transform: translate(0,30px);
	    opacity: 0;
    	-webkit-transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .5s;
		-moz-transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .5s;
		-o-transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .5s;
		transition: all .3s cubic-bezier(0.47, -0.35, 0, 0.97) .5s;
	}
	
	.image-conatainer .icon:before{
		margin: 0;
	    font-size: 25px;
	}
	.image-conatainer .image-overlay-wrapper{
		/* position: absolute; */
		background: #fff;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.image-conatainer:hover .image-overlay{
		opacity: 0.9;
		transform: translate(0,0);
	}
	.image-conatainer:hover .cat{
		opacity: 1;
		transform: translate(0,0);
	}
	.image-conatainer:hover .icon{
		transform: translate(0,0);
	    opacity: 1;
	}
	.image-conatainer .desc{
		font-size: 12px;
		color: #AFAFAF;
	}
	.image-conatainer .desc p{
		margin: 0;
	}
.intro-container{
	padding: 74px 0 25px 0;
	margin-bottom: 5px;
	position: relative;
	 height: 450px; 
	background: url(../img/sliders/landing.jpg) no-repeat fixed 50% -150px / cover;
	 display: -webkit-flex; 
	 display: flex; 
	 -webkit-box-pack: center; 
	-ms-flex-pack: center;
	 -webkit-justify-content: center; 
	 justify-content: center; 
	 -webkit-box-align: center; 
	-ms-flex-align: center;
	 -webkit-align-items: center; 
	 align-items: center; 
	/* z-index: 3; */
}
	.intro-container .title{
		position: relative;
		text-transform: uppercase;
		color: #fff;
		/* font-weight: 700; */
		letter-spacing: 3px;
		padding: 10px 0;
		border-bottom: 1px solid #ABABAB;
		text-align: left;
		width: 165px;
		margin: 0 auto;
		margin-top: 142px;
		font-size: 25px;
		text-align: center;
	}
	.intro-container .overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		/* background: #000; */
		opacity: 0.7;
	}
.portfolio-list{
	position: relative;
	text-align: center;
	color: #929292;
	margin-top: 142px;
}

	.portfolio-list ul{
		padding: 0;
		margin: 0;
		display: none;
	}

	.portfolio-list ul li{
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		/* font-weight: 700; */
		font-size: 12px;
		letter-spacing: 2px;
		/* font-weight: bold; */
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.portfolio-list ul li:hover{
		color: #fff;
	}

/*spinner*/
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/*spinner*/


/*spinner 2*/

@-webkit-keyframes animate {
50% {
		-ms-transform: rotate(360deg) scale(0.8);
	   	-webkit-transform: rotate(360deg) scale(0.8);
	    transform: rotate(360deg) scale(0.8);
	}
}
@keyframes animate {
	50% {
		-ms-transform: rotate(360deg) scale(0.8);
	   	-webkit-transform: rotate(360deg) scale(0.8);
	    transform: rotate(360deg) scale(0.8);
	}
}
#loading {
    background-color: #0C0C0C;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 50000;
    margin-top: 0px;
    top: 0px;
    /* display: none; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* display: none; */
}
#loading-center {
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative; */
}

#loading-center-absolute {
    margin: auto;
    height: 150px;
    width: 150px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    z-index: 555;
}

.object {
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #484848;
    border-bottom: 5px solid rgb(255, 249, 249);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    -webkit-animation: animate 3s infinite;
    animation: animate 3s infinite;
}

#object_one {
    left: 75px;
    top: 75px;
    width: 10px;
    height: 10px;
}
#object_two {
    left: 65px;
    top: 65px;
    width: 30px;
    height: 30px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#object_three {
    left: 55px;
    top: 55px;
    width: 50px;
    height: 50px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four {
    left: 45px;
    top: 45px;
    width: 70px;
    height: 70px;
    margin: auto;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.loading-logo{
	text-align: center;
	margin-top: -30px;
}
.loading-logo img{
	width: 150px;
}
/*spinner 2*/

.intro-container.about{
	background: url(../img/sliders/landing.jpg) no-repeat fixed 48% -56px / cover;
	height: 451px;
	padding: 74px 0 25px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
	.intro-about-text{
		color: #fff;
		text-align: center;
		/* width: 265px; */
		position: relative;
		margin: 0 auto;
		/* border-bottom: 1px solid #ABABAB; */
		padding: 10px 0;
	}
	.intro-container .about-title{
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    margin: 0 auto;
	    margin-bottom: 10px;
	    padding: 10px 0;
	    width: 220px;
	    font-size: 25px;
	    border-bottom: 1px solid #8A8A8A;

	}
	.intro-container .about-desc{
		/* background: #fff; */
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 2px;
	}
.about-content{
	padding: 60px 5px 0px 5px;
	/* background: url(../img/sliders/about.jpg)no-repeat fixed 50% 50% / cover; */
	background-image: url(../img/sliders/about.jpg);
	/* background-size: cover; */
	background-attachment: fixed;
	background-position: 41% -100px;
	background-repeat: no-repeat;
	position: relative;
}
	.about-content .biography{
		color: #fff;
		font-weight: 300;
		line-height: 30px;
		/* width: 70%; */
	}
		.about-content .biography .img{
			background: url(../img/bio.jpg) no-repeat 0 50% / cover;
			height: 427px;
			/* width: 514px; */
			margin: 40px 0;
		}
		.about-content .biography .title{
			font-weight: 300;
			font-size: 30px;
			/* text-transform: uppercase; */
			letter-spacing: 4px;
		}

.latest-work{
	padding: 50px 0;
	color: #fff;
}

	.latest-work .title{
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 6px;
		padding: 20px 0;*/;
		border-bottom: 1px solid #404040;
		width: 225px;
		margin: 0 auto;
		text-align: center;
	}

	.latest-work-container{
		position: relative;
		margin-top: 50px;
		text-align: center;
	}
	.latest-work-container a{
		color: #fff;
	}
	.latest-work-container .tile{
		position: relative;
		display: inline-block;
		width: 33%;
		padding-top: 20%;
		cursor: pointer;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	.latest-work-container .overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.83);
		top: 0;
		left: 0;
		opacity: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-transform: translate(0 ,100%);
		-moz-transform: translate(0 ,100%);;
		-ms-transform: translate(0 ,100%);
		-o-transform: translate(0 ,100%);
		transform: translate(0 ,100%);
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.latest-work-container .tile:hover .overlay{
		opacity: 1;
		-webkit-transform: translate(0 ,0%);
		-moz-transform: translate(0 ,0%);;
		-ms-transform: translate(0 ,0%);
		-o-transform: translate(0 ,0%);
		transform: translate(0 ,0%);
	}
	.latest-work-container .sub-title{
		/* position: relative; */
		text-transform: uppercase;
		letter-spacing: 4px;
		font-size: 12px;
		opacity: 0;
		-webkit-transform: translate(0 ,-20px);
		-moz-transform: translate(0 ,-20px);
		-ms-transform: translate(0 ,-20px);
		-o-transform: translate(0 ,-20px);
		transform: translate(0 ,-20px);
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		-webkit-transition-delay: .3s;
		-moz-transition-delay: .3s;
		-o-transition-delay: .3s;
		transition-delay: .3s;
	}
	.latest-work-container .tile:hover .sub-title{
		opacity: 1;
		-webkit-transform: translate(0 ,0%);
		-moz-transform: translate(0 ,0%);;
		-ms-transform: translate(0 ,0%);
		-o-transform: translate(0 ,0%);
		transform: translate(0 ,0%);
	}
	.latest-work-container .icon{
		position: relative;
		width: 25px;
		height: 25px;
		margin: 0 auto;
		margin-top: 14px;
		background: url(../img/link23.png) no-repeat 50% 50% / cover;
		opacity: 0;
		-webkit-transform: translate(0 ,20px);
		-moz-transform: translate(0 ,20px);
		-ms-transform: translate(0 ,20px);
		-o-transform: translate(0 ,20px);
		transform: translate(0 ,20px);
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		-webkit-transition-delay: .3s;
		-moz-transition-delay: .3s;
		-o-transition-delay: .3s;
		transition-delay: .3s;
	}
	.latest-work-container .tile:hover .icon{
		opacity: 1;
		-webkit-transform: translate(0 ,0%);
		-moz-transform: translate(0 ,0%);;
		-ms-transform: translate(0 ,0%);
		-o-transform: translate(0 ,0%);
		transform: translate(0 ,0%);
	}

	.latest-work-text-container{
	}
	.about-overlay{
		background: #000;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.85;
	}

.about-logo{text-align: center;margin-top: 70px;}
	.about-logo img{
		width: 340px;
	}

	.about-logo-desc{
		width: 356px;
		text-align: center;
		color: #fff;
		text-align: center;
		margin: 0 auto;
		font-weight: 300;
		margin-top: 50px;
		line-height: 23px;
		font-size: 14px;
		letter-spacing: 1px;
	}

	.about-contact-details{
		color: #767676;
		text-align: center;
		margin-top: 50px;
		line-height: 30px;
		font-size: 13px;
	}
	.about-contact-details a{
		color: #767676;
	}

.about-social-container{
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}
	.about-social-container .social-icons{
		/*background-image: url(../img/social-icons.png);
		background-repeat: no-repeat;
		background-position: 20px 50%;
		background-size: 210px; */
		/* width: 50px; */
		/* height: 50px; */
		padding: 16px 17.5px;
		color: #fff;
		margin: 0 10px;
		display: inline-block;
		margin-top: 50px;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		box-shadow: 0 0 0 1px #fff;
		-webkit-box-shadow: 0 0 0 1px #fff;
		cursor: pointer;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	.about-social-container .social-icons:before{
	   margin: 0;
	   font-size: 15px;
	}
	.about-social-container .social-icons:hover{
		color: #000;
		background: #fff;
	}

.about-copyright{
	position: relative;
	text-align: center;
	margin-top: 100px;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	border-top: 1px solid #404040;
	padding: 20px 0;
}

#contact_map{
	width: 100%;
	height: 60vh;
	margin-bottom: 5px;
}

.contact-form-container{
	position: relative;
	padding: 60px 0 171px 0;
}

	.contact-form{
		position: relative;
		width: 50%;
		float: left;
		color: #C1C1C1;
		font-weight: 300;
		font-size: 10px;
		letter-spacing: 3px;
	}
	.contact-form input{
		position: relative;
		display: block;
		margin: 10px 0 25px 0;
		border: 1px solid #A5A5A5;
		background: none;
		padding: 7px 10px;
		width: 100%;
		font-size: 12px;
	}
	.contact-form textarea{
        display: block;
        margin: 10px 0 10px 0;
        border: 1px solid #A5A5A5;
        background: none;
        padding: 6px 10px;
        width: 100%;
        font-size: 12px;
        height: 150px;
    }
    .contact-desc{
        position: relative;
        text-align: center;
        color: #ffffff;
        float: left;
        width: 50%;
    }
    .contact-desc h1{
        position: relative;
        font-weight: 500;
        text-align: center;
        margin: 0;
        line-height: 40px;
    }
    .contact-desc h2{
        font-size: 13px;
        font-weight: 500;
        /* margin: 0 auto; */
        width: 260px;
        float: none;
        margin: 0 auto;
        /* margin-top: 20px; */
        padding: 25px 0 25px 0;
        border-bottom: 1px solid #A5A5A5;
        letter-spacing: 1px;
    }
    .contact-desc .contact-brief{
        position: relative;
        width: 300px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        margin: 0 auto;
        margin-top: 25px;
        letter-spacing: 1px;
    }
    .contact-form .contact-button{
        border-top: 1px solid;
        border-bottom: 1px solid;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin: 0 auto;
        margin-top: 20px;
        z-index: 2;
        position: relative;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
    .contact-form .contact-button:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        top: 0;
        /* left: 0; */
        right: 0;
        margin: auto;
        height: 0%;
        width: 0%;
        /* opacity: 0; */
        background: #FFFFFF;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        z-index: -1;
    }
    .contact-form .contact-button:before{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        top: 0px;
        left: 0;
        /* right: 0; */
        margin: auto;
        height: 0%;
        width: 0%;
        /* opacity: 0; */
        background: #FFFFFF;
        z-index: -1;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .contact-form .contact-button:hover{
        color: #000000 !important;
        /* z-index: 112; */
        /* width: 95%; */
    }
    .contact-form .contact-button:hover:after{
        /* height: 3px; */
        /* background: #000; */
        opacity: 1;
        width: 50%;
        height: 98%;
    }
    .contact-form .contact-button:hover:before{
        /* height: 3px; */
        /* background: #000; */
        opacity: 1;
        width: 50%;
        height: 98%;
    }
.lg-sub-html{
    /* transform: translate(0, 65px); */
}
.lg-sub-html-hide{
     transform: translate(0, 65px); 
}
/*.lg-outer .lg:hover .lg-sub-html{
    transform: translate(0, 0);
}*/

.alert-text{
	margin-top: 15px;
	font-size: 12px;
}
.loading-response{
	position: absolute;
	background: rgba(0, 0, 0, 0.91);
	height: 454px;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 5;
	display: none;
}
.loading-response #loading-center{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 135px;
}


/*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #CECECE;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	background-color: #2B2B2B;
}*/


/*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #8C8C8C;
	border-radius: 3px;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #2F2F2F;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(90deg,                                            rgb(23, 22, 22) 30%, rgb(31, 30, 30) 26%,rgb(31, 30, 30) 71%, rgb(23, 22, 22) 71%);
}*/

.karamScrollWrapper{
    height: 100vh;
}

.karam-animate{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.karam-animate.delay{
    animation-delay: 2s;
    -webkit-animation-delay:2s;
}
.karam-animate.delay1{
    animation-delay: 1s;
    -webkit-animation-delay:1s;
}
.karam-animate.delay1-5{
    animation-delay: 1.5s;
    -webkit-animation-delay:1.5s;
}
.karam-animate.delay2-5{
    animation-delay: 2.5s;
    -webkit-animation-delay:2.5s;
}
.karam-animate.delay3{
    animation-delay: 3s;
    -webkit-animation-delay:3s;
}

/**
 * Button component
 */
.btn {
  position: relative;
  top: 0;
  margin-top: 50%;
  opacity: 0;
  font-size: 1rem;
  color: #fff;
  border-radius: 2.1875rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.btn:focus, .btn:hover {
  color: #111;
  background-color: #fff;
  border-color: #fff;
}

/**
 * Grid styles
 */
.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.45);
  -webkit-transition: background-color .55s ease-in-out;
          transition: background-color .55s ease-in-out;
}
.item__overlay:focus, .item__overlay:hover {
  background-color: rgba(17, 17, 17, 0.05);
}
.item__overlay:focus > button, .item__overlay:hover > button {
  opacity: 1;
}

.grid__sizer,
.grid__item {
  position: relative;
  width: 25%;
  min-width: 300px;
}

.grid__item {
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0 10px;
}

.grid__item--high,
.grid__item--high img {
  height: 480px;
}

.grid__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.photo-container{
    padding: 25px 0;
    background: rgba(16,16,16,0.60);
    min-height: 1000px;
    color: #fff;
}


input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  /* padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;*/
}
 
input[type=text]:focus, textarea:focus {
  	box-shadow: 0 0 5px 2px rgb(21, 21, 21);
    border: 1px solid rgb(72, 72, 72);
}

.share-btn{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 20px !important;
	z-index: 21000;
}
.share-btn:before{
	font-size: 16px;
	margin: 0;
}


@-webkit-keyframes slow-zoom-in {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@-moz-keyframes slow-zoom-in {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@-ms-keyframes slow-zoom-in {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@keyframes slow-zoom-in {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}



.services{
	width: 100%;
	background-image: url(../img/sliders/about.jpg);
    background-attachment: fixed;
    background-position: 41% -100px;
    background-repeat: no-repeat;
	padding: 180px 0 0px;
}
	.services .overlay{
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    opacity: .7;
	    background: #000;
	}
	.services .content{
		position: relative;
		z-index: 2;
	}
	.services .header{
	    margin-bottom: 10px;
	    padding: 10px 0;
	    font-size: 25px;
	    border-bottom: 1px solid #8A8A8A;
	    text-align: center;
	    color: #fff;
	    width: 300px;
	    margin: 0 auto;
	    text-transform: uppercase;
	}
	.services .header-desc{
		font-size: 14px;
    	margin: 0 auto;
	    margin-top: 20px;
	    width: 600px;
	    color: #fff;
	    text-align: center;
	    font-weight: 300;
	    line-height: 25px;
	    letter-spacing: 1px;
	}
	.services .service-tile-container{
		margin:90px 0 80px 0;
	}
	.services .service-tile{
		width: 33.33%;
		float: left;
		padding: 0 10px;
	}
	.services .service-tile.occasions{
		width: 100%;
		margin-top: 20px;
	}
	.services .tile-content{
		background: #0E0E0E;
    	margin-top: 6px;
    	text-align: center;
    	padding: 30px 10px;
		height: 225px;
	}
	.services .tile-content.occasions{
		height: auto;
	}
	.services .tile-img{
		height: 450px;
	}
	.services .tile-title{
        font-size: 20px;
	    color: #fff;
	    width: 90%;
	    margin: 0 auto 20px;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    padding-bottom: 20px;
	    border-bottom: 1px solid #333;
	}
	.services .tile-desc{
		font-size: 14px;
	    color: #999999;
	    line-height: 24px;
	}
	.services .tile-img.fashion{
		background: url(../img/services/fashion.jpg)no-repeat 50% 0 / cover;
	}
	.services .tile-img.business{
		background: url(../img/services/business.jpg)no-repeat 50% 0 / cover;
	}
	.services .tile-img.occasions{
		background: url(../img/services/occasions.jpg)no-repeat 50% 0 / cover;
	}
	.services .tile-img.wedding{
		background: url(../img/services/wedding.jpg)no-repeat 50% 0 / cover;
	}
	.services .tile-img.events{
		background: url(../img/services/events.jpg)no-repeat 50% 0 / cover;
	}


/*//////////////////////////////////////////////
////////////////big resolution////////////////
//////////////////////////////////////////////*/

@media (min-width: 1200px){
	/*.grid__sizer, .grid__item{
    	width: 20%;
    }*/
    .main-bg{
    	overflow: hidden;
    }
    .main-bg .overlay{
    	-webkit-animation-name: slow-zoom-in;
	    -webkit-animation-duration: 60s;
	    animation-name: slow-zoom-in;
	    animation-duration: 60s
    }
    
}

/*////////////////////////////////////////////
//////////////////////////////////////////////
////////////////Low resolution////////////////
/////////////////////////////////////////////
////////////////////////////////////////////*/


@media(max-width: 1220px){
	.k-container-lg{
		width: 100%;
		padding: 0 1em;
	}
	.grid__sizer, .grid__item{
    	width: 33.33%;
    }

}


@media(max-width: 992px){
	.photos{
	  -webkit-column-count: 3;
	  -moz-column-count: 3;
	  column-count: 3;
	}
	.k-container{
		width: 100%;
		padding: 0 1em;
	}
	.latest-work-container .tile{
		width: 49%;
		padding-top: 30%;
	}
	.grid__sizer, .grid__item{
    	width: 50%;
    }
 	.services .service-tile{
    	width: 50%;
    	margin-bottom: 30px;
    	padding: 0 5px;
    }
    .services .header-desc{
    	width: 100%;
	    padding: 0 15px;
    }
    .services .tile-img{
    	height: 350px;
    }
    .services .service-tile-container{
    	margin: 90px 0 20px;
    }
    .intro-container .title{
    	    margin: 142px auto 0;
    }
    .intro-container, .intro-container.about{
		background: url(../img/sliders/landing.jpg) no-repeat fixed 50% 0/ cover;
	    height: 270px;
	}
	.services{
	    padding-top: 110px;
	}
	.services .tile-content{
		background: #252424;
	}
	.services .service-tile.occasions{
		width: 50%;
		margin: 0;
	}
	.services .tile-content.occasions{
	    height: 225px;
	}
}

@media(max-width: 767px){
	.showMobile{
		display: block;
	}
	.hideMobile{
		display: none !important;
	}
	header .logo{
		padding: 11px 20px;
		display: inline-block;
	}
	header .logo img{

	}

	header .nav-container{
		position: fixed;
		top: 56px;
		background: #000;
		width: 100%;
		padding-top: 30px;
		-webkit-transform: translate(-100% ,0px);
		-moz-transform: translate(-100% ,0px);
		-ms-transform: translate(-100% ,0px);
		-o-transform: translate(-100% ,0px);
		transform: translate(-100% ,0%);
		-webkit-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-moz-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		-o-transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
		transition: all .3s cubic-bezier(1, 0.02, 0.29, 0.23);
	}
	header ul li{
		display: block;
	}
	header .nav-item:after{
		right: 0;
		left: 0;
		margin: auto;
	}
	.main-bg .title{
		font-size: 8vw;
		text-align: center;
	}
	.photos{
	  -webkit-column-count: 2;
	  -moz-column-count: 2;
	  column-count: 2;
	}
	.photo-grid{
		/* padding: 56px 0 62px 0; */
	}
	.about-content .biography{
		width: 100%;
	}
	.about-copyright{
		margin-top: 20px;
	}
	.social{
	/* position: relative; */
	}

    .about-content .biography .img{
        background: url(../img/bio.jpg) no-repeat 0 50% / cover;
        height: auto;
        padding-bottom: 60%;
    }
    .contact-form{
        width: 100%;
    }
    .contact-desc{
        width: 100%;
        margin-bottom: 70px;
    }
    .contact-desc h2{
        width: 70%;
    }
    .contact-desc .contact-brief{
        width: 100%;
    }
    .about-overlay{
        opacity: 0.7;
    }
    .about-content{
        background-position: 47% 0;
        background-size: initial;
    }
    .grid__sizer, .grid__item{
    	width: 50%;
    }

}

@media(max-width: 480px){
	.social .copyright-desktop{
		display: none;
	}
	.social .copyright{
		display: block;
		margin-top: 15px;
	}
	.social ul li{
		padding: 0 9px;
	}
	.social .flat:before{
		font-size: 16px;
	}
	.photos{
	  -webkit-column-count: 1;
	  -webkit-column-gap: 4px;
	  -moz-column-count: 1;
	  -moz-column-gap: 4px;
	  column-count: 1;
	  column-gap: 4px;
	  z-index: 1;
	  position: relative;
	}
	.latest-work-container .tile{
		width: 100%;
		padding-top: 60%;
		margin-bottom: 20px;
	}
	.about-logo img{
		width: 80%;
	}
	.about-logo-desc{
		width: 100%;
	}
	.about-social-container .social-icons{
		margin: 0 35px 40px;
	}
	.about-social-container{
		width: 100%;
	}
    .contact-desc h1{
        font-size: 30px;
        line-height: 32px;
    }
    .grid__sizer, .grid__item{
    	width: 100%;
    }
    .services .tile-img{
    	height: 450px;
    }
    .services .tile-content{
    	height:auto;
    }
    .services .service-tile ,.services .service-tile.occasions{
    	width: 100%;
    }
    .services .header{
    	width: 90%;
	    padding: 10px 15px;
    }
}

@media(max-width: 321px){
	.about-social-container .social-icons{
		margin: 0 30px 40px;
	}
}